# Importando as bibliotecas

In [52]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

# Fazendo leitura dos dados de treino e teste

In [2]:
dados_treino = pd.read_csv('train.csv')
dados_treino.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [3]:
dados_teste = pd.read_csv('test.csv')
dados_teste.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,ba0cc30ba34e7a46764c09dfc38ed83d15828897,43,RS,19,F,1,1,1,3,1,...,NaN,NaN,E,E,H,B,B,C,D,A
1,177f281c68fa032aedbd842a745da68490926cd2,15,PA,24,M,3,2,1,4,1,...,NaN,NaN,B,C,B,A,A,C,D,A
2,6cf0d8b97597d7625cdedc7bdb6c0f052286c334,29,BA,16,F,2,1,3,0,1,...,NaN,NaN,E,F,G,B,B,A,NaN,D
3,5c356d810fa57671402502cd0933e5601a2ebf1e,41,PR,17,F,1,1,2,0,2,...,40.0,480.0,E,E,E,C,B,B,C,A
4,df47c07bd881c2db3f38c6048bf77c132ad0ceb3,53,DF,19,F,1,1,1,1,1,...,80.0,720.0,E,E,E,B,B,B,D,A

# Selecionando as variaveis com maior correlação

In [4]:
correlacao1 = dados_treino.corr()[dados_treino.corr()['IN_TREINEIRO']<-0.25]['IN_TREINEIRO']
correlacao2 = dados_treino.corr()[dados_treino.corr()['IN_TREINEIRO']>0.25]['IN_TREINEIRO']
feature_correlacao1 = correlacao1.index.to_list()
feature_correlacao2 = correlacao2.index.to_list()
feature_correlacao = feature_correlacao1 + feature_correlacao2
feature_correlacao.remove('IN_TREINEIRO')
print(feature_correlacao)

['NU_IDADE', 'TP_ANO_CONCLUIU', 'TP_ST_CONCLUSAO']

In [5]:
dados_treino[feature_correlacao].describe()

           NU_IDADE  TP_ANO_CONCLUIU  TP_ST_CONCLUSAO
count  13730.000000     13730.000000     13730.000000
mean      21.593809         2.146176         1.782666
std        7.043654         3.217328         0.880734
min       13.000000         0.000000         1.000000
25%       17.000000         0.000000         1.000000
50%       19.000000         0.000000         2.000000
75%       23.000000         3.000000         2.000000
max       67.000000        10.000000         4.000000

In [6]:
dados_treino[feature_correlacao].isna().sum()

NU_IDADE           0
TP_ANO_CONCLUIU    0
TP_ST_CONCLUSAO    0
dtype: int64

In [7]:
x = dados_treino[feature_correlacao]
y = dados_treino['IN_TREINEIRO']

# Separando a base de treino, para simulações de acuracidade

In [8]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.33, random_state=42)

In [9]:
x_treino

       NU_IDADE  TP_ANO_CONCLUIU  TP_ST_CONCLUSAO
10807        21                0                2
10189        18                0                2
8045         24                0                3
7890         18                0                2
2188         20                2                1
...         ...              ...              ...
5191         20                3                1
13418        38                1                1
5390         33               10                1
860          20                3                1
7270         20                3                1

[9199 rows x 3 columns]

# Usando KNN de forma simplista para critério de comparação

In [36]:
clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(x_treino, y_treino)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [37]:
y_pred = clf.predict(x_teste)
y_pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [38]:
y_treino

10807    0
10189    0
8045     0
7890     0
2188     0
        ..
5191     0
13418    0
5390     0
860      0
7270     0
Name: IN_TREINEIRO, Length: 9199, dtype: int64

# Prevendo os resultados e determinando a acuracia

In [39]:
resposta = pd.DataFrame(y_teste)
resposta['y_pred'] = y_pred
resposta['teste_acuracia'] = resposta['y_pred']==resposta['IN_TREINEIRO']
acuracia = resposta['teste_acuracia'].sum()/resposta.shape[0]

In [40]:
acuracia

0.9971308761862724

In [47]:
clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(x, y)
Dados_a_Predizer = dados_teste[feature_correlacao]
y_predito = clf.predict(Dados_a_Predizer)
resposta = pd.DataFrame(dados_teste['NU_INSCRICAO'])
resposta['IN_TREINEIRO'] = y_predito

In [48]:
resposta.head()

                               NU_INSCRICAO  IN_TREINEIRO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1  177f281c68fa032aedbd842a745da68490926cd2             0
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3  5c356d810fa57671402502cd0933e5601a2ebf1e             0
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0

In [50]:
resposta.to_csv('answer.csv', index = False)

# Com esse método obtivemos uma acuracia de 99,68% e um processamento muito rápido, sendo bem útil

# Por via das dúvidas irei fazer um teste usando hiperparâmetros para fazer o comparativo com o modelo mais imples

In [53]:
leaf_size = list(range(1,50))
n_neighbors = list(range(1,30))
p=[1,2]
#Convert to dictionary
hyperparameters = dict(leaf_size=leaf_size, n_neighbors=n_neighbors, p=p)
#Create new KNN object
knn_2 = KNeighborsClassifier()
#Use GridSearch
clf = GridSearchCV(knn_2, hyperparameters, cv=10)
#Fit the model
best_model = clf.fit(x,y)
#Print The value of best Hyperparameters
print('Best leaf_size:', best_model.best_estimator_.get_params()['leaf_size'])
print('Best p:', best_model.best_estimator_.get_params()['p'])
print('Best n_neighbors:', best_model.best_estimator_.get_params()['n_neighbors'])

Best leaf_size: 1
Best p: 1
Best n_neighbors: 2

In [54]:
y_predito = clf.predict(Dados_a_Predizer)
resposta = pd.DataFrame(dados_teste['NU_INSCRICAO'])
resposta['IN_TREINEIRO'] = y_predito

In [55]:
resposta.head()

                               NU_INSCRICAO  IN_TREINEIRO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1  177f281c68fa032aedbd842a745da68490926cd2             0
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3  5c356d810fa57671402502cd0933e5601a2ebf1e             0
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0

In [56]:
resposta.to_csv('answer.csv', index = False)

# Usando hiperparâmetros, obtive um ganho de 0,05 de acurárica passando agora para um score de 99,7374 porém o tempo de processamento aumentou muito no comparativo. Para uma única utilização eu usaria os hiperparâmetros mas para produtizar e utilizar em larga escala o primeiro modelo será muito mais perfomático e barato